{% extends "base.html" %}

{% block title %}
<title>YouTube downloader</title>
{% endblock %}

{% block content %}
<main class="main">
    <div class="insert">
        <h1 class="text-center">Скачать видео с YouTube</h1>
        <form action="{{ url_for('get_action') }}" method="post" class="form insert__form">
            <div class="input-cntr form_yt__input">
                <input type="url" name="url" class="input input_insert" placeholder="Введите URL видео" required>
            </div>
            <button type="submit" class="button form_yt__button">
                <img src="{{ url_for('static', filename='images/icons/button.svg') }}" height="20">
            </button>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="messages">
                {% for category, message in messages %}
                <h6 class="alert alert-{{ category }}">{{ message }}</h6>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </form>
    </div>
    {% if videos %}
    <div class="result">
        <div class="result__info-cntr">
            <div class="result__video-parent">
                <video id="result_video" class="result__video-link"
                    poster="{{ url_for('static', filename=poster_path) }}" preload="auto" controls>
                    <source src="{{ url_for('static', filename=videos[0].static_path) }}">
                    <h6 class="text-center">Воспроизведение видео не поддерживается вашим браузером</h4>
                </video>
            </div>
        </div>
        <div class="result__list-cntr2">
            <form method="post" target="_blank">
                <ul id="result-download-list" class="list">
                    {% for video in videos %}
                    <li class={% if video.res=="720p" %} "list__item" {% else %} "list__item list__item_hidden" {% endif
                        %} data-type="video" data-video-type="mp4" data-video-quality={{ resolution }}>
                        <a href="http://127.0.0.1:5000/download/video?resolution={{ video.res }}&url={{ video.url }}"
                            class="list__item-link" target="_blank">
                            <span class="list__item-info">Скачать {% if video.res == "720p" %}<strong>HD</strong>{%
                                endif %} {{ video.res }}</span>
                            <span class="list__item-format">.{{ video.mime_type }}</span>
                        </a>
                        <span class="list__item-filesize">{{ video.file_size }}</span>
                    </li>
                    {% endfor %}
                    <li class="list__item list__item-pvw" data-type="image">
                        <a href="http://127.0.0.1:5000/download/poster?url={{ videos[0].url }}" class="list__item-link"
                            target="_blank">
                            <span class="list__item-info">Скачать обложку</span>
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    {% endif %}
    <ul class="comments-block">
        <form action="send_comment" method="post" class="form insert__form">
            <div class="input-cntr form_comment__input">
                <input type="text" class="input input_insert" name="comment"
                    placeholder="Введите комментарий... {ник: текст}" value="Anonimus: " required>
            </div>
            <button type="submit" class="button form_comment__button">
                <img src="static/images/icons/send.png" height="20">
            </button>
        </form>
        {% for comment in comments %}
        <li class="comment">
            <div class="comment-header">
                <p class="username">{{ comment.author }}</p>
                <p class="comment-time">{{ comment.date.strftime("%d %b %Y в %H:%M") }}</p>
            </div>
            <p class="comment-text">{{ comment.text }}</p>
            <div class="comment-actions">
                <button class="like-btn">
                    <img class="like-img" src="static/images/icons/like-dis.png">
                </button>
                <p class="like-count black">{{ comment.likes_count }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock content %}