<header class="header ht-a">
  <div class="logo logo_header">
    <h5>
      <strong>
        <font size="5" color="#000000" face="arial">Download</font>
        <rect>
          <font size="5" color="#ffffff" face="arial">Tube</font>
        </rect>
      </strong>
    </h5>
  </div>
  <div class="theme-switch">
    <span id="themeSwitch" class="theme-switch__item">
      <input type="radio" id="item2-state-day" class="item2-state-day" name="item2" value="-1">
      <input type="radio" id="item2-state-auto" class="item2-state-auto" name="item2" value="0" checked="">
      <input type="radio" id="item2-state-night" class="item2-state-night" name="item2" value="1">
      <i></i>
    </span>
  </div>
</header>